<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a class="nav-link" href="/listings">Explore</a>
        
       
        </div>

        <div class="offset-3 slogan">
          <h3>Comfortable Stays, Unforgettable Days</h3>
        </div>

        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if(!currUser) { %>   <!-- if user not login show login and signup option on navbar  -->

          <a class="nav-link "  href="/signup"><b>sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>

          <% } %>

          <% if(currUser) {%> <!-- if user login already only show on navbar logout -->
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
        </div>
      </div>
    </div>
  </nav>