<%layout("/layouts/boilerplate") %>  
<body>
    
<!-- it us bootstrap card -->

<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">

<%  for(listing of allListings){  %>
    <!--  href is liye lagaye hai ki card par kahi bhi click karenge to uske detail par chale -->
    <a href="/listings/<%=listing._id %>" class="listing-link">
<div class="card listing-card col" >
 
    <img src="<%=listing.image.url%>" class="card-img-top" alt="Listing_image"  style="height: 20rem">
    <!-- overlay effect means card ke upar hi kuchh likhwana chahte ho -->
    <div class="card-img-overlay"></div>
    <div class="card-body">
      <p class="card-text">
        <%= listing.title %> <br>
        &#8377; <%= listing.price ? listing.price.toLocaleString("en-In") : 'N/A' %> / night
      </p>
    </div>
  </div>
  </a>
      <%   } %>
   
    </div>

   
    
</body>


